.contact-us-form{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.form-label{
    margin-bottom: 0.5rem;
    padding-right: 0.5rem;
}
.form-input{
    height: 2.5rem;
    border: none;
    outline: none;
    font-family: var(--regular);
    font-size: 1rem;
    padding: 0 0.5rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 0 0.5rem var(--gray);
    border-radius: 0.5rem;
}
.message-input{
    resize: none;
    height: 8rem;
    padding: 0.5rem;
}
.form-submit{
    width: 6rem;
    height: 2.5rem;
    background-color: var(--blue);
    font-family: var(--regular);
    text-align: center;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    align-self: flex-end;
}
.social-item__children{
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.4);
    border-radius: 0.5rem;
    transition: all 0.3s;
}
.social-item:nth-child(1){
    color: #E12B6D;
}
.social-item:nth-child(2){
    color: #0084C6;
}
.social-item:nth-child(3){
    color: #42C152;
}
.social-item:nth-child(4){
    color: #0073B1;
}
.social-item:nth-child(5){
    color: #03A9F5;
}
.social-item:nth-child(6){
    color: #F70000;
}
.social-item__children:hover{
    transform: scale(1.1);
}
.social-link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 2rem;
}
.social-icon{
    width: 4rem;
    height: 4rem;
}
.social-name{
    font-family: var(--medium);
    font-size: 1.2rem;
}