.section__img{
    display: block;
    width: 50%;
    margin: 3rem auto;
}
.section__img:last-child{
    margin: 3rem auto 0 auto;
    background-color: red;
}
.guide .counseling-btn{
    margin: 1rem auto 0 auto;
    background-color: var(--dark);
    border: 0.15rem solid var(--dark);
    border-radius: 0.5rem;
}
.guide .counseling-btn:hover{
    background-color: var(--bg-ghost);
    border-color: var(--dark);
    color: var(--dark);
}