.resume-header .header-figure__img{
    width: 80%;
}
.resume-holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.resume{
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.4);
    border-radius: 0.3rem;
    overflow: hidden;
}
.resume__img{
    width: 100%;
}
.resume__footer{
    height: 3.5rem;
    background-color: var(--purple);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}
.resume__title{
    color: var(--white);
}
.resume__view{
    background-color: var(--bg-ghost);
    padding: 0.4rem 1rem;
    border-radius: 0.5rem;
}